/* =========== A SIMPLE CSS RESET FROM ERIC MEYER ================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* ================ HTML5 display-role reset for older browsers ============== */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========================= END OF CSS RESET ========================== */

/* ==================== Main formatting ================================ */

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 15px;
	background-color: #adb191;
  margin: 5px;
}

h1 {
  position: absolute;
  left: 27%;
  top: 3%;
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-text-stroke: 1px white;
   color: rgb(161, 121, 57);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

@media screen  and (max-width: 992px) {
  h1 {
    font-size: 3rem;
    left: 5%;
    top: 3%;
  }
}

@media screen  and (max-width: 660px) {
  h1 {
    font-size: 2.5rem;
    top: 20px;
  }
}

header {
  background: url(http://magazin.regiment.hu/images/header.jpg) no-repeat center;
  height: 199px;
}

@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
}

/*.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  position: absolute;
  height: auto;
  border: 1px solid #82856d;
}*/

/* ================= Main Navigation ================ */
/* *********** Mobile ************ */
.navbar {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #ced1b2;
  border: 1px solid #82856d;
  color: #686C50;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
}

.active {
  display: block;
}

/* *************** Desktop ************ */
@media screen and (min-width: 660px) {
  .navbar {
    display: flex;
    padding-bottom: 0;
    align-items: center;
    max-width: 900px;
    margin: auto;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }

  .main-nav li {
    margin: 20px;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

}


/* ================= End of Main Navigation ================ */

.item1 { grid-area: frissites; }
.item2 { grid-area: teljes-cikk; }
.item3 { grid-area: digitalis; }
.item4 { grid-area: uj-szam; }
.item5 { grid-area: kovetkezo; }
.item6 { grid-area: sas-promo; }

.grid-container {
  max-width: 900px;
  display: grid;
  grid-template-areas: 
  'frissites frissites uj-szam'
  'teljes-cikk digitalis uj-szam'
  'teljes-cikk digitalis kovetkezo'
  'teljes-cikk digitalis sas-promo';
  grid-gap: 1px;
  margin: auto;
  border: 1px solid;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-areas: 
    'frissites'
    'uj-szam'
    'teljes-cikk'
    'kovetkezo'
    'digitalis'
    'sas-promo';
  }
}

.page-title {
  color: #aa8f4c;
  text-transform: uppercase;
  line-height: .8rem;
  font-weight: 600;
}

.item1, .item2, .item3,
.item4, .item5, .item6 {
  background: #ced1b2;
  padding: .5rem;
  margin: .5rem;
}

p {
  line-height: 1.3rem;
  font-size: .7rem;
}

nav a:link {
  text-decoration: none; !important
}

nav a:hover {
  color: white; !important
}

a:link {
  color: #929871;
  text-decoration: underline;
}

a:hover {
    color: #686C50;
    text-decoration: none;
}

a:visited {
  color: #929871;
}

main img {
  margin: 15px 0;
}










